<h3>Calculator-2</h3>
 <input type="number" (change)="model.n1 = $event.target.valueAsNumber">
 <select (change)="selectedOperator = $event.target.value">
 	<option value="add">Add</option>
 	<option value="subtract">Subtract</option>
 	<option value="multiply">Multiply</option>
 	<option value="divide">Divide</option>
 </select>
 <input type="number" (change)="model.n2 = $event.target.valueAsNumber">
 <input type="button" value="Calculate" (click)="onCalculateClick()">
 <app-calculator-result [data]="model.result"></app-calculator-result>